**/__pycache__/
.python-version
**/.DS_Store
.DS_Store
**/*.token

# Node.js
node_modules
**/node_modules

# Cdk
cdk.out
cdk.out/** */
cdk.context.json
ser

**/dummyData

# .env.* except .env.example
.env*
!.env.example
